.badge {
  padding: 12px;
}

.familyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.familyCardRow {
  display: flex;
  justify-content: center;
  width: 100%;
}

.familyCardRowSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profileImage {
  width: 80px;
  height: 80px;
}

.lineSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
