.cell {
  height: 48px;
  width: 48px;
  border: solid 1px;
  background-color: inherit;
  font-size: 36px;
}

.cell:hover {
  background-color: #dfd;
}

/*.hoverCol {
  background-color: #dfd;
}

.hoverColCell {
  background-color: #afa;
}*/

.connectFourContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.connectFourUI {
  text-align: center;
}

.connectFourGrid {
  margin: 0 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(6, 48px);
  grid-template-columns: repeat(7, 48px);
}

.connectFourStats {
  margin: 0 10px;
  line-height: 12px;
}