.cell {
  margin: 0;
  padding: 0;
  border: solid 1px;
  background-color: inherit;
  font-size: 1.5em;
}

.cell:hover {
  background-color: #dfd;
}

/*.hoverCol {
  background-color: #dfd;
}

.hoverColCell {
  background-color: #afa;
}*/

.undoButton {
  float: left;
  color: #0070f3;
  cursor: pointer;
}

.undoButton:hover {
  text-decoration: underline;
}

.winner {
  float: right;
}

.connectFourContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.connectFourUI {
  margin: 0 10px;
}

.connectFourGrid {
  display: grid;
  place-items: stretch;
  grid-template-rows: repeat(6, 2.5em);
  grid-template-columns: repeat(7, 2.5em);
}

.connectFourStats {
  margin: 0 10px;
  line-height: 12px;
}